* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

/* START NAV */
nav {
    width: 100%;
    margin-top: 2em;
    text-align: right;
    position: fixed;
    z-index: 10;
}

nav .ul {
    height: 2em;
    list-style: none;
}

nav li {
    width: 3em;
    height: 3em;
    margin-right: 1.5em;
    line-height: 3em;
    vertical-align: auto;
    background-color: white;
    box-shadow: 0.2em 0.2em;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}

nav li:nth-child(3) {
    margin-right: 3em;
}

nav a {
    font-size: 2em;
    color: black;
    font-weight: bold;
    text-decoration: none;
}


/* START RULES FOR GENERAL CONTAINER */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.box-product {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.box-product img {
    width: 40vw;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

.box-product h1 {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

/* START BIG FIRST CONTINER */
#big-first h1 {
    color: yellow;
}

#big-first.container {
    background-color: red;
}

/* START BIG SECOND CONTINER */
#big-second h1 {
    color: yellow;
}

#big-second.container {
    background-color: green;
}

/* START BIG THIRD CONTINER */
#big-third h1 {
    color: green;
}

#big-third.container {
    background-color: yellow;
}